* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
	cursor: pointer;
}

/* main */

.container {
    background-image: url("/resources/images/3week.jpg");
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main-content {
    position: relative;
    width: 100%;
    height: 1100px;
}

.main-thirdweek {
    position: absolute;
    width: 600px;
    left : 10%;
    top: 15%;
}

.thirdweek-title {
    text-align: center;
}

.thirdweek-title h1 {
    font-size: 4rem;
    color: #f1f1f1;
}

.thirdweek-input {
    margin-top: 30px;
}

.thirdweek-input ul li:first-child,
.thirdweek-input ul li:nth-child(3) {
    font-size: 1.5rem;
    list-style: disc;
    color: black;
}

.thirdweek-input ul li select {
    margin: 30px 0;
    width: 600px;
    padding: 20px;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0.4;
}


#btn_third_prev {
    width: 200px;
    height: 60px;
    background-color: black;
    font-size: 1.25rem;
    font-weight: bold;
    color: #F8DBAA;
    margin-top: 20px;
}

#btn_third_next {
    width: 200px;
    height: 60px;
    background-color: #f1f1f1;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}



#btn_third_prev:active {
    background-color: #f1f1f1;
    color: black;
}

#btn_third_next:active {
    background-color: black;
    color: #F8DBAA;
}